<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='individual-cupcake.css') }}">
    <title>Individual-cupcake</title>
</head>
<body>
    <header>
        <h1>Individual cupcake</h1>
    </header>   
    <div class="cupcake" id="{{ cupcake['id'] }}">
        <h1>Flavor: {{ cupcake["flavor"] }}</h1>
        <h2>Frosting: {{ cupcake["frosting"] }}</h2>
        <h2>Price: ${{ cupcake["price"] }}</h2>
        <button id="add-to-chart">Add to Cart</button>
    </div>    
</body>
<script src="cupcakes.py"></script>
</html>